/* INITIAL CSS */

.gui-container * { all: unset; }
.gui-container * * { all: unset; }
.gui-container * * * { all: unset; }

.gui-container ul{
    all: unset;
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.gui-container li {
    all: unset;
    display: list-item;
}

.gui-container button {
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: .5em;
    padding: .3em .5em;
    background-color: white;
    transition: border-radius 0.2s;
}

.gui-container button:active { border-radius: .9em; }
.gui-container button:focus-visible { border-radius: .9em; }

.suggester input[type="checkbox"] {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 1px solid black;
    border-radius: 20%;
    height: 1em;
    width: 1em;
    transition: border-radius .2s;
}
.suggester input[type="checkbox"]:active { border-radius: 50%; }
.suggester input[type="checkbox"]:checked:before {
    content: "✔️";
    font-size: .7em;
}

/* POPOVER */
.suggester{
    border: none;
    background-color: rgba(0, 255, 255, 0.116);
    border-radius: 1em;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 8px black;
    padding: 1em;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: none;
}

.toggle-show:has(input:checked) + .suggester{
    display: block;
}

.statusP {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0;
}

.suggester li {
    margin: 1em;
    text-transform: capitalize; /* Remove localeCap before removing */
    font-family: sans-serif;
    width: 90%;
}

.checkOption { float: right; }

.actions {
    display: flex;
    justify-content: space-evenly;
}


/* CHECKBOX */

.toggle-show {
    display: inline-block;
    position: relative;
    width: 1.8em !important;
    height: 1.8em !important;
    user-select: none;
    border: 1px solid black;
    border-radius: 30%;
    margin: 2px;

    transition: border-radius .2s;
}

.toggle-show:has(input:active) {
    border-radius: 50%;
}

.toggle-show input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-gui {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}